/* =================================
  Base Element Styles
==================================== */
* {
  box-sizing: border-box;
}

body {
  background: #efefef;
  text-align: center;
}

h1 {
  font-size: 200%;
  font-family: sans-serif;
}

.content {
  background: #fff;
  border: 1px #ddd solid;
  margin: 20px;
}

.tomato {
  color: tomato;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.input-text {
  font-size: small;
}

.side-margin {
  margin: 0 35px !important;
}
